@font-face { font-family: SGNC; src: url('../fonts/scary_glyphs_and_nice_characters.ttf'); } 

body {
    padding-top: 70px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
	.navbrand {
		width: 80%;
    	margin: 0 auto;
	}		
}

.navfonts {
	font-family:SGNC, "Lucida Console", Monaco, monospace;
}

.navlink {
  border-bottom:2px solid transparent;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  background-color: inherit;
  font-family:SGNC, "Lucida Console", Monaco, monospace;
  font-size: 4em;
}


.navlink:hover {
  background-color: #080808 !important;
  border-bottom:2px solid #fff !important;
    
}

.navlink:focus {
  background-color: #080808 !important;
  border-bottom:2px solid #fff !important;
}

body {
   padding-left: 0;
   padding-right: 0;
 }
 .navbar .navbar-inner {
   background: #ffffff;
   border: none;
   -moz-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
   -webkit-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
   -o-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
   box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);


 }
.navbar .nav > li > a {
      padding:30px 10px 30px
    }
	
@media screen and (max-width: 768px) {
  .navbarbrand {
    max-height: 50px;
	max-width: 110px;
  }
}
