body { padding-top: 70px; }

.typed {
  height: 1em;
  width: auto;
}

.container {
  width: 80%;
}

.container img {
  height: 3em;
  width: auto;
}

.main h1 {
  font-size: 3em !important;
}

.james {
	border-radius: 6px;
    border: 2px solid black;
}

h1 {
	color: black;
	text-align: center;
}

.main {
	background: rgb(255,255,255); /* for IE */
	background: rgba(255,255,255,.3);
	margin-top: 3%;
	border-radius: 25px;
}

.main h6 {
	text-align: center;
}

.main a {
	color: black;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.centered h1 {
	font-size: 15vmin;
}

.centered h5 {
	text-align: center;
}

.centered a {
	color: black;
}

.typed {
	margin-top: 15vmax;
	font-size: 15vmin;
}

.madeby {
	position: fixed;
    bottom: 0;
    right: 0;
}