body {
	font-size: 1em;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #00664E; /* black */
	text-align: left;
	background-color: #00CC9C;
}
	
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #85FEE2;
	text-align: center;
	background-color: #019875;
	/* background: linear-gradient(cyan, blue); */
	/* background: linear-gradient(#A9EED2, #00B16A); */
}

h2 {
	font-weight: bold;
	color:
}

div {
	/* background-color: #00CC9C; */
}

p {
	
}