//urls
$wall_0: url(../img/code1.jpg);
$wall_1: url(../img/code7.jpg);
$wall_2: url(../img/code5.jpg);
$wall_3: url(../img/cd-background-3.jpg);
$wall_4: url(../img/cd-background-4.jpg);

body {
	height: 100%;
}
html {
	height: 100%;
}
main {
	height: 100%;
}
.navbar {
	margin-bottom: 0 !important;
}
.main-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	&.bg-0 {
		background-image: $wall_0;
	}
}
.fixed-bg {
	min-height: 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	&.bg-1 {
		background-image: $wall_1;
	}
	&.bg-2 {
		background-image: $wall_2;
	}
	&.bg-3 {
		background-image: $wall_3;
	}
	&.bg-4 {
		background-image: $wall_4;
	}
}
.scrolling-bg {
	min-height: 50%;
}
.intro {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	width: 90%;
	max-width: 1170px;
	h1 {
		font-size: 7vmax;
	}
	h2 {
		font-size: 5vmax;
	}
}
.fa-black {
	color: black;
}
.fa-white {
	color: white;
}

.showcase {
	img {
	// opacity: 1.0;
	// transition: opacity 1s ease-in-out;
	// -moz-transition: opacity 1s ease-in-out;
	// -webkit-transition: opacity 1s ease-in-out;
	// -webkit-font-smoothing: antialiased;
	opacity: .99;
    -webkit-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s;
	}
	a:hover img {
	// opacity: .6;
	// transition: opacity .55s ease-in-out;
	// -moz-transition: opacity .55s ease-in-out;
	// -webkit-transition: opacity .55s ease-in-out;
	// -webkit-font-smoothing: antialiased;
	
    opacity: .50;
    -webkit-transition: opacity .3s, visibility 0s ease .3s;
    transition: opacity .3s, visibility 0s ease .3s;
	}


}

.portfolio-link:hover .portfolio-hover-content {
	opacity: 1;
  	transition:opacity .5s linear;
}

.portfolio-hover-content{
    position:absolute;
    z-index:1;
  	transform: translate(-50%, -50%);
	margin-top: 29%;
	margin-left: 46%;
  	opacity: 0;
}

.pricing {
	.panel-pricing {
	&:hover {
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	}
	.panel-heading {
		padding: 20px 10px;
		.fa {
			margin-top: 10px;
			font-size: 58px;
		}
	}
	.list-group-item {
		color: #777777;
		border-bottom: 1px solid rgba(250, 250, 250, 0.5);
		&:last-child {
			//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
			border-bottom-right-radius: 0;
			//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
			border-bottom-left-radius: 0;
		}
		&:first-child {
			//Instead of the line below you could use @includeborder-top-right-radius($radius)
			border-top-right-radius: 0;
			//Instead of the line below you could use @includeborder-top-left-radius($radius)
			border-top-left-radius: 0;
		}
	}
	.panel-body {
		background-color: #f0f0f0;
		font-size: 40px;
		color: #777777;
		padding: 20px;
		margin: 0;
	}
	}
}