h1 {
  font-size: 10em;
  text-align: center;
  vertical-align: middle;
  font-family: 'Press Start 2P', cursive;
  white-space: nowrap;
}

body {
	background: #000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ani2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
	animation-delay: 1s;
}

.ani3 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
	animation-delay: 2s;
}

.ani4 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
	animation-delay: 3s;
}

.ani5 {
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
	animation-delay: 6s;
	background: url(supernova.jpg); 
}

.fullbox {
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
	background: url(supernova.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text {
	color: white;
}

